rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // https://firebase.google.com/docs/firestore/security/rules-conditions?hl=ja
    // リクエストしているユーザーのuidがユーザードキュメントの名前と一致していることを確認します。
    // ワイルドカード式 {userId} により、userId 変数がルール内で使用可能になります。
    // match /users/{userId} {
    //   allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    //   allow create: if request.auth != null;
    // }

    // https://stackoverflow.com/questions/51405539/cloud-firestore-security-rules-allow-write-only-from-firebase-function
    // 全アクセスを拒否する．ただしfirebase-functionsからのアクセスは妨げない．
    match /{document=**} {      
      allow read: if false;
      allow write: if false;
    }
  }
}