html {
    font-family: 'Consolas', 'monospace', 'Yu gothic';
}

.whole {
    background: #333;
    color: #eee;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    position: relative;
}

.whole2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #333;
    /* border-radius: 8px; */
    margin:0px 20px 0px 20px;
    padding-right: 5px;
    height: 10vh;
}
.title {
    margin: 0;
    color: #005CAF;
}
.situation {
    display: flex;
    gap: 20px;
}
.situationExplain {
    text-align: center;
}
.situationExplainTag {
    font-size: 12px;
    color: #999;
}
.start{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: auto;
    background: #2a2a2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startText {
    font-size: 2vw;
    font-weight: bold;
    color: #9d9fcc;
    height: auto;
}
.end {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* padding-left: 50px; */
    background-color: #333;
}

.containerStyle {
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  background-color: #333;

}
.resultStyle {
  font-size: clamp(16px, 5vw, 52px);
  font-weight: bold;
  color: #eee;
}
.textStyle {
  font-size: clamp(16px, 4.5vw, 52px);
  font-weight: bold;
  color: #eee;
  padding-left: 5vw;
}
.outerButton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  background-color: #333;
}
.homeButton {
  width: 30vw;
  min-width: 120px;
  height: auto;
  text-align: center;
  color: #eee;
  font-size: clamp(16px, 3vw, 48px);
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #1d1d1d, -6px -6px 12px #555;
  background-color: #333;
}
.homeButton:hover {
  border: none;
}
.homeButton:active {
  box-shadow: inset 4px 4px 12px #111, inset -4px -4px 12px #555;
}

.homeButton span {
  color: #f17ef1;
}
.smallkey{
  text-align: center;
  color: #eee;
  padding: 6px 9px 6px 9px;
  margin-right: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #111, -4px -4px 8px #555;
  background-color: #333;
}

.bigkey{
  text-align: center;
  color: #9d9fcc;
  padding: 9px;
  margin-right: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #111, -5px -5px 10px #555;
  background-color: #333;
}
.canvas{
  background: #0f0f0f;
  border-radius: 8px;
  /* padding: 20px; */
  border: 20px solid #333;
  border-color: #333;
  min-height: 400px;
  position: relative;
}
.correct{
  color: #FCBAD3;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
.miss{
  color: #ffffd2;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
.correctRate{
  color: #A8D8EA;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
.wpm{
  color: #AA96DA;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
.Hover{
  width: max-content; /* 横幅 */
  position: absolute;
  left: 50%;
  bottom: 80%; /* Y軸の位置 */
  transform: translateX(-50%);
  margin-bottom: 8px; /* テキストとの距離 */
  padding: 5px;
  border-radius: 3px; /* 角の丸み */
  background-color: #666;
  font-size: 0.4em;
  color: #fff;
  text-align: center;
  visibility: hidden; /* ツールチップを非表示に */
  opacity: 0; /* 不透明度を0％に */
  z-index: 1;
  transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
  font-weight: 300;
}
.correct:hover .Hover { /* マウスオーバー時のスタイル */
  bottom: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}
.miss:hover .Hover { /* マウスオーバー時のスタイル */
  bottom: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}
.correctRate:hover .Hover { /* マウスオーバー時のスタイル */
  bottom: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}
.wpm:hover .Hover { /* マウスオーバー時のスタイル */
  bottom: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}